/* roboto-regular - latin_cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/roboto/roboto-v30-latin_cyrillic-ext-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/roboto/roboto-v30-latin_cyrillic-ext-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/roboto/roboto-v30-latin_cyrillic-ext-regular.woff2") format("woff2"), url("../assets/fonts/roboto/roboto-v30-latin_cyrillic-ext-regular.woff") format("woff"), url("../assets/fonts/roboto/roboto-v30-latin_cyrillic-ext-regular.ttf") format("truetype"), url("../assets/fonts/roboto/roboto-v30-latin_cyrillic-ext-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-900 - latin_cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../assets/fonts/roboto/roboto-v30-latin_cyrillic-ext-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/roboto/roboto-v30-latin_cyrillic-ext-900.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/roboto/roboto-v30-latin_cyrillic-ext-900.woff2") format("woff2"), url("../assets/fonts/roboto/roboto-v30-latin_cyrillic-ext-900.woff") format("woff"), url("../assets/fonts/roboto/roboto-v30-latin_cyrillic-ext-900.ttf") format("truetype"), url("../assets/fonts/roboto/roboto-v30-latin_cyrillic-ext-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* raleway-regular - latin_cyrillic-ext */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/raleway/raleway-v28-latin_cyrillic-ext-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/raleway/raleway-v28-latin_cyrillic-ext-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/raleway/raleway-v28-latin_cyrillic-ext-regular.woff2") format("woff2"), url("../assets/fonts/raleway/raleway-v28-latin_cyrillic-ext-regular.woff") format("woff"), url("../assets/fonts/raleway/raleway-v28-latin_cyrillic-ext-regular.ttf") format("truetype"), url("../assets/fonts/raleway/raleway-v28-latin_cyrillic-ext-regular.svg#Raleway") format("svg");
  /* Legacy iOS */
}
/* raleway-500 - latin_cyrillic-ext */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/raleway/raleway-v28-latin_cyrillic-ext-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/raleway/raleway-v28-latin_cyrillic-ext-500.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/raleway/raleway-v28-latin_cyrillic-ext-500.woff2") format("woff2"), url("../assets/fonts/raleway/raleway-v28-latin_cyrillic-ext-500.woff") format("woff"), url("../assets/fonts/raleway/raleway-v28-latin_cyrillic-ext-500.ttf") format("truetype"), url("../assets/fonts/raleway/raleway-v28-latin_cyrillic-ext-500.svg#Raleway") format("svg");
  /* Legacy iOS */
}
/* open-sans-regular - latin_cyrillic-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/open-sans/open-sans-v34-latin_cyrillic-ext-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/open-sans/open-sans-v34-latin_cyrillic-ext-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open-sans/open-sans-v34-latin_cyrillic-ext-regular.woff2") format("woff2"), url("../assets/fonts/open-sans/open-sans-v34-latin_cyrillic-ext-regular.woff") format("woff"), url("../assets/fonts/open-sans/open-sans-v34-latin_cyrillic-ext-regular.ttf") format("truetype"), url("../assets/fonts/open-sans/open-sans-v34-latin_cyrillic-ext-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */
}
/* open-sans-700 - latin_cyrillic-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/open-sans/open-sans-v34-latin_cyrillic-ext-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/open-sans/open-sans-v34-latin_cyrillic-ext-700.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open-sans/open-sans-v34-latin_cyrillic-ext-700.woff2") format("woff2"), url("../assets/fonts/open-sans/open-sans-v34-latin_cyrillic-ext-700.woff") format("woff"), url("../assets/fonts/open-sans/open-sans-v34-latin_cyrillic-ext-700.ttf") format("truetype"), url("../assets/fonts/open-sans/open-sans-v34-latin_cyrillic-ext-700.svg#OpenSans") format("svg");
  /* Legacy iOS */
}