* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	padding-top: 121px;
    background-color: #fff;
}

.container {
	width: 90%;
	max-width: 1170px;
	margin: 0 auto;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 3fr;
	padding-bottom: 122px;
}

.first-pic {
	grid-column-start: 1;
	grid-column-end: 4;
}

.second-pic {
	grid-area: 2 / 1 / 3 / 2;
	border-right: 1px solid #FFCC00;
	padding-right: 85px;
	padding-left: 70px;
}

.third-pic {
	grid-area: 2 / 2 / 3 / 3;
	justify-self: center;
	padding-right: 70px;
	padding-left: 85px;
}

.first-pic h4 {
	display: block;
	font-family: 'Raleway';
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
	color: #898F8F;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 15px;
}

.first-pic h2 {
	font-family: 'Roboto';
	font-weight: 900;
	font-size: 60px;
	line-height: 66px;
	color: #FFCC00;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 40px;
}

.first-pic .icon {
	text-align: center;
}

.icon::before,
.icon::after {
	display: inline-block;
	content: "";
	width: 210px;
	border-bottom: 1px solid #FFCC00;
	margin: 9px 5px;
    transform: translateY(-10px);
}

.photo-wrap {
	margin: 71px -16px;
	width: 430px;
	height: 430px;
	padding: 15px;
	position: relative;
	&::before, &::after {
		content: '';
		display: inline-block;
		width: 100px;
		height: 100px;
		position: absolute;
		top: 0;
		border-top: 1px solid #FFCC00;
	}
	&::before {
		left: 0;
		border-left: 1px solid #FFCC00;
	}
	&::after {
		right: 0;
		border-right: 1px solid #FFCC00;
	}
}

.wrapper {
	border: 1px solid #FFCC00;
	&::before, &::after {
		content: '';
		display: inline-block;
		width: 100px;
		height: 100px;
		position: absolute;
		bottom: 0;
		border-bottom: 1px solid #FFCC00;
	}
	&::before {
		left: 0;
		border-left: 1px solid #FFCC00;
	}
	&::after {
		right: 0;
		border-right: 1px solid #FFCC00;
	}
}

.wrapper img {
	width: 100%;
	height: 100%;
	vertical-align: top;
	object-fit: cover;
}

.third-pic {
	margin-top: 85px;
	text-align: center;

}

.third-pic h2 {
	font-family: 'Roboto';
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	color: #666666;
	text-align: center;
	padding-bottom: 12px;
	padding-left: 17px;
	margin-top: -9px;
}

.third-pic span.sep-line1 {
	display: inline-block;
	height: 1px;
	width: 100px;
	border-radius: 0;
	background: #FFCC00;
	border: none;
	margin-bottom: 4px;
}

.third-pic h4 {
	font-family: 'Raleway';
	font-size: 24px;
	font-weight: 400;
	line-height: 36px;
	text-align: center;
	color: #666666;
	padding-top:22px;
	padding-left: 17px;
}

.social-icons li {
	display: inline-block;
	list-style: none;
	padding-top: 2px;
	margin: 20px -6px 51px 7px;
}

li a {
	text-decoration: none;
}

.third-pic span {
	display: inline-flex;
	border-radius: 50%;
	border: 2px solid #cccccc;
	color: #cccccc;
	background-color: #fff;
	width: 30px;
	height: 30px;
	justify-content: center;
	align-items: center;
}

.third-pic p {
	font-family: 'Raleway';
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	padding-bottom: 14px;
}

span.sep-line2 {
	display: inline-block;
	height: 4px;
	width: 50px;
	border-radius: 0;
	background: linear-gradient(to right, #FFCC00 0%, #FFCC00 15%, transparent 15%, transparent 25%, 
	#FFCC00 25%, #FFCC00 75%, transparent 75%, transparent 85%,
	#FFCC00 85%, #FFCC00 100%);
	border: none;
	margin-bottom: 20px;
}

.button {
	width: 118px;
	height: 24px;
	border: 1px solid #FFCC00;
	padding: 2px;
	margin: 0 auto;
}

.btn-link {
	font-family: 'Open Sans';
	font-weight: 700;
	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
	border: none;
	background-color: #fff;
	color: #666666;
	text-decoration: none;
}


