*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body{
    background-color: #3B3F45;
    font-family: 'Roboto', sans-serif;
    
}

header {
    background-color: #4A4F56;
    text-align: center;
    padding-top: 19px;
    padding-bottom: 12px;
    color: #FF8984;
}

#list-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    padding-bottom: 4px;
}

main {
    padding-top: 20px;
    padding-bottom: 9px;
    padding-left: 23px; 
}

.container {
    width: 90%;
    max-width: 534px;
    margin: 0 auto;
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

label {
    padding: 8px 0 10px 57px;
    cursor: pointer;
    display: block;

}

input[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    height: 19px;
    width: 19px;
    background-color: #fff;
    margin-left: -45px;
}

input[type="checkbox"]:checked + label:after {
    content: "";
    position: absolute;
    display: block;
}

input[type="checkbox"]:checked + label span {
    position: relative;
    display: inline-block;
    color: #9B96AC;
}

input[type="checkbox"]:checked + label span::after {
    content: "";
    display: inline-block;
    width: calc(100% + 10px);
    height: 2px;
    background-color: #9B96AC;
    position: absolute;
    left: -5px;
    top: 11px;
}

input[type="checkbox"] + label:after {
    content: "";
    left: 18px;
    top: 11px;
    width: 3.5px;
    height: 8px;
    border: solid black;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    display: none;   
}

ul {
    list-style: none;
}

ul li {
    color: #fff;
    background-color: #88839E;
    font-size: 18px;
    line-height: 21px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    position: relative;
}

ul li:nth-child(odd) {
    background-color: #7A7593;
}

ul li:hover {
    background-color: #625E77;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    transition: all .1s ease-in;
}

ul li:active {
    background-color: #FF8984;
}

input[type="checkbox"]:checked ~ * {
    text-decoration: line-through;
}

small {
    font-size: 11px;
    vertical-align: middle;
    line-height: 11px;
}

small::before {
    content: '(';
}

small::after {
    content: ')';
}

.footer {
    padding-top: 3px;
    padding-left: 0;
    padding-bottom: 45px; 
}

.text-content {
    text-align: center;
    color: #FF8984;
    font-size: 18px;
    font-weight: 400;
    background-color: #4A4F56;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 34px;
    margin-left: 9px;
    margin-right: -12px;

}

