@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8anx1t');
  src:  url('fonts/icomoon.eot?8anx1t#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8anx1t') format('truetype'),
    url('fonts/icomoon.woff?8anx1t') format('woff'),
    url('fonts/icomoon.svg?8anx1t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\fb";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-linkedin2:before {
  content: "\eaca";
}
