* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body {
	font-family: 'Delius Unicase';
    background-color: #fff;
	color: #000;
}

.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	vertical-align: top;
}

h2 {
	margin-top: 117px;
	margin-bottom: 80px;
	text-align: center;
	font-size: 36px;
	line-height: 45px;
	letter-spacing: 0.11rem;
}

.architecture {
	position: relative;
}

.architecture-pics {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	column-gap: 30px;
	row-gap: 26px;

}

.nature-pics {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
	column-gap: 30px;
	row-gap: 25px;
}

.portrait-pics {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(5, 1fr);
	column-gap: 30px;
	row-gap: 26px;
	padding-bottom: 120px;
}

.pic1 {
	grid-area: 1 / 1 / 2 / 2;
}

.pic2 {
	grid-area: 1 / 2 / 2 / 4;
}

.pic3 {
	grid-area: 2 / 1 / 3 / 3;
}

.pic4 {
	grid-area: 2 / 3 / 3 / 4;
}

.pic5 {
	grid-area: 3 / 1 / 4 / 2;
}

.pic6 {
	grid-area: 3 / 2 / 4 / 4;
}

.pic7 {
    grid-area: 1 / 1 / 2 / 2;
}

.pic8 {
    grid-area: 1 / 2 / 2 / 4;
}

.pic9 {
    grid-area: 2 / 1 / 4 / 3;
}

.pic10 {
	grid-area: 2 / 3 / 4 / 4;
}

.pic11 {
	grid-area: 4 / 1 / 5 / 3;
}

.pic12 {
	grid-area: 4 / 3 / 5 / 4;
}

.pic13 {
    grid-area: 1 / 1 / 2 / 2;
}

.pic14 {
    grid-area: 1 / 2 / 3 / 3;
}

.pic15 {
    grid-area: 1 / 3 / 2 / 4;
}

.pic16 {
    grid-area: 2 /1 / 3 / 2;
}

.pic17 {
    grid-area: 3 / 2 / 4 / 3;
}

.pic18 {
    grid-area: 2 / 3 / 4 / 4;
}

.pic19 {
    grid-area: 3 / 1 / 5 / 2;
}

.pic20 {
    grid-area: 4 / 2 / 5 / 4;
}

.pic21 {
    grid-area: 5 / 1 / 6 / 3;
}

.pic22 {
    grid-area: 5 / 3 / 6 / 4;
}

.item {
	position: relative;
	border-radius: 20px;
	overflow: hidden;
	opacity: 0.8;
	transition: all .2s ease;
}

.item::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	transition: all .2s ease;
	background: linear-gradient(to top, #241F24 1.04%, rgba(91, 91, 91, 0.26) 6.99%, rgba(187, 186, 192, 0) 12.29%);
	z-index: 6;
}

.item img {
	transition: all 0.2 ease;
}
.item:hover {
	opacity: 1;
    background: linear-gradient(to top, #241F24 1.04%, rgba(91, 91, 91, 0.26) 6.99%, rgba(187, 186, 192, 0) 12.29%);
	filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.5));
}

.item:hover img {
	transform: scale(1.1);
}

.item:hover .btns-wrap {
	opacity: 1;
}

.info-wrap {
	font-family: 'Roboto';
	color: #fff;
	font-size: 20px;
	line-height: 23px;
	position: absolute;
	left: 0;
	bottom: 20px;
	width: 100%;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	z-index: 8;
}

.author {
	font-weight: 500;
}

.date {
	font-weight: 400;
}

.btns-wrap {
	position: absolute;
	left: 0;
	top: 20px;
	width: 100%;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	opacity: 0;
	transition: all 0.2s ease;
	z-index: 8;
	align-self: start;
}

.btn {
	display: inline-flex;
	border: none;
	background-color: rgba(224, 224, 224, .5);
	width: 40px;
	height: 40px;
	border-radius: 8px;
	transition: all .2s ease;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.btn img {
	width: 20px;
	height: 17.5px;

}

.btn:hover {
	background-color: #fff;
}