/* tourney-regular - latin */
@font-face {
  font-family: "Tourney";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Tourney/tourney-v8-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/Tourney/tourney-v8-latin-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Tourney/tourney-v8-latin-regular.woff2") format("woff2"), url("../assets/fonts/Tourney/tourney-v8-latin-regular.woff") format("woff"), url("../assets/fonts/Tourney/tourney-v8-latin-regular.ttf") format("truetype"), url("../assets/fonts/Tourney/tourney-v8-latin-regular.svg#Tourney") format("svg");
  /* Legacy iOS */
}
/* tourney-600 - latin */
@font-face {
  font-family: "Tourney";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/Tourney/tourney-v8-latin-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/Tourney/tourney-v8-latin-600.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Tourney/tourney-v8-latin-600.woff2") format("woff2"), url("../assets/fonts/Tourney/tourney-v8-latin-600.woff") format("woff"), url("../assets/fonts/Tourney/tourney-v8-latin-600.ttf") format("truetype"), url("../assets/fonts/Tourney/tourney-v8-latin-600.svg#Tourney") format("svg");
  /* Legacy iOS */
}
/* staatliches-regular - latin */
@font-face {
  font-family: "Staatliches";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Staatliches/staatliches-v11-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/Staatliches/staatliches-v11-latin-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Staatliches/staatliches-v11-latin-regular.woff2") format("woff2"), url("../assets/fonts/Staatliches/staatliches-v11-latin-regular.woff") format("woff"), url("../assets/fonts/Staatliches/staatliches-v11-latin-regular.ttf") format("truetype"), url("../assets/fonts/Staatliches/staatliches-v11-latin-regular.svg#Staatliches") format("svg");
  /* Legacy iOS */
}
/* francois-one-regular - latin */
@font-face {
  font-family: "Francois";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Francois/francois-one-v20-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/Francois/francois-one-v20-latin-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Francois/francois-one-v20-latin-regular.woff2") format("woff2"), url("../assets/fonts/Francois/francois-one-v20-latin-regular.woff") format("woff"), url("../assets/fonts/Francois/francois-one-v20-latin-regular.ttf") format("truetype"), url("../assets/fonts/Francois/francois-one-v20-latin-regular.svg#FrancoisOne") format("svg");
  /* Legacy iOS */
}
/* farro-300 - latin */
@font-face {
  font-family: "Farro";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/Farro/farro-v14-latin-300.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/Farro/farro-v14-latin-300.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Farro/farro-v14-latin-300.woff2") format("woff2"), url("../assets/fonts/Farro/farro-v14-latin-300.woff") format("woff"), url("../assets/fonts/Farro/farro-v14-latin-300.ttf") format("truetype"), url("../assets/fonts/Farro/farro-v14-latin-300.svg#Farro") format("svg");
  /* Legacy iOS */
}
/* farro-regular - latin */
@font-face {
  font-family: "Farro";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Farro/farro-v14-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/Farro/farro-v14-latin-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Farro/farro-v14-latin-regular.woff2") format("woff2"), url("../assets/fonts/Farro/farro-v14-latin-regular.woff") format("woff"), url("../assets/fonts/Farro/farro-v14-latin-regular.ttf") format("truetype"), url("../assets/fonts/Farro/farro-v14-latin-regular.svg#Farro") format("svg");
  /* Legacy iOS */
}
/* pt-sans-regular - latin */
@font-face {
  font-family: "PT_Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/PT_Sans/pt-sans-v17-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/PT_Sans/pt-sans-v17-latin-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/PT_Sans/pt-sans-v17-latin-regular.woff2") format("woff2"), url("../assets/fonts/PT_Sans/pt-sans-v17-latin-regular.woff") format("woff"), url("../assets/fonts/PT_Sans/pt-sans-v17-latin-regular.ttf") format("truetype"), url("../assets/fonts/PT_Sans/pt-sans-v17-latin-regular.svg#PTSans") format("svg");
  /* Legacy iOS */
}
/* pt-sans-italic - latin */
@font-face {
  font-family: "PT_Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../assets/fonts/PT_Sans/pt-sans-v17-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/PT_Sans/pt-sans-v17-latin-italic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/PT_Sans/pt-sans-v17-latin-italic.woff2") format("woff2"), url("../assets/fonts/PT_Sans/pt-sans-v17-latin-italic.woff") format("woff"), url("../assets/fonts/PT_Sans/pt-sans-v17-latin-italic.ttf") format("truetype"), url("../assets/fonts/PT_Sans/pt-sans-v17-latin-italic.svg#PTSans") format("svg");
  /* Legacy iOS */
}
/* pt-sans-700 - latin */
@font-face {
  font-family: "PT_Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/PT_Sans/pt-sans-v17-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/PT_Sans/pt-sans-v17-latin-700.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/PT_Sans/pt-sans-v17-latin-700.woff2") format("woff2"), url("../assets/fonts/PT_Sans/pt-sans-v17-latin-700.woff") format("woff"), url("../assets/fonts/PT_Sans/pt-sans-v17-latin-700.ttf") format("truetype"), url("../assets/fonts/PT_Sans/pt-sans-v17-latin-700.svg#PTSans") format("svg");
  /* Legacy iOS */
}
/* roboto-regular - latin_cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/roboto/roboto-v30-latin_cyrillic-ext-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/roboto/roboto-v30-latin_cyrillic-ext-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/roboto/roboto-v30-latin_cyrillic-ext-regular.woff2") format("woff2"), url("../assets/fonts/roboto/roboto-v30-latin_cyrillic-ext-regular.woff") format("woff"), url("../assets/fonts/roboto/roboto-v30-latin_cyrillic-ext-regular.ttf") format("truetype"), url("../assets/fonts/roboto/roboto-v30-latin_cyrillic-ext-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/roboto/roboto-v30-latin_cyrillic-ext-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/roboto/roboto-v30-latin_cyrillic-ext-700.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/roboto/roboto-v30-latin_cyrillic-ext-700.woff2") format("woff2"), url("../assets/fonts/roboto/roboto-v30-latin_cyrillic-ext-700.woff") format("woff"), url("../assets/fonts/roboto/roboto-v30-latin_cyrillic-ext-700.ttf") format("truetype"), url("../assets/fonts/roboto/roboto-v30-latin_cyrillic-ext-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}