* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

.container {
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
}

.header {
	width: 1200px;
	padding-top: 13px;
	margin-bottom: 79px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navigation {
	display: flex;
}

a {
	text-decoration: none;
    color: black;
}

.navigation span {
	padding: 0 10px;
	color: #000000;
	font-family: 'Staatliches';
	font-weight: 400;
	font-size: 22px;
	line-height: 28px;
	letter-spacing: 0.03em;
}

.navigation a {
	text-transform: uppercase;
	color: #000000;
	font-family: 'Staatliches';
	font-weight: 400;
	font-size: 22px;
	line-height: 28px;
	letter-spacing: 0.03em;
}

.navigation p {
	font-family: 'Tourney';
	padding-right: 52px;
	font-size: 22px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 18px;
	padding-left: 3px;
	padding-top: 3px;
	letter-spacing: 0.04em;
}

.page2-name {
	display: flex;
	margin-top: 80px;
	margin-bottom: 40px;
}

.black-line {
	width: 100px;
	border-top: 8px solid #000;
	margin-right: 22px;
	align-self: center;
}

h2 {
	font-family: 'Roboto';
	font-size: 36px;
	line-height: 48px;
	letter-spacing: 0.04em;
}

.first-row {
	border-top: 1px solid #BFBFBF;
	display: flex;
	justify-content: space-around;
	padding: 18px 15px;
	gap: 30px;
}

.second-row {
    display: flex;
	justify-content: space-around;
	padding: 15px 15px;
	border-bottom: 1px solid #BFBFBF;
	gap: 30px;
}

.flip-card {
	height: 180px;
	width: 360px;
	perspective: 1000px;
	border-radius: 3%;
}

.flip-card-content {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.5s;
	transform-style: preserve-3d;
}

.flip-card:hover .flip-card-content {
	filter: invert(100%);
	transform: rotateX(180deg) scale(1, -1);
	transition: transform .7s ease;
}

.flip-card-front,
.flip-card-back {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.flip-card-front {
	background-color: #E6E6E6;
	color: black;
	border: 1px solid #E6E6E6;
	border-radius: 3%;
}

.flip-card-back {
	background-color: #1A1A1A;
	color: #fff;
	transform: rotateX(180deg);
	border-radius: 3%;
}
